@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for the header */
header{
    background-color: #91FF99;
    font-family: 'Lato', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #1E3F20;
    text-decoration: none;
    padding: 35px;
    font-family: 'Lato', arial;
}
nav a:hover{
    background-color: #1E3F20;
    color: #91FF99;
    height: 30px;
}
.logo{
    display: flex;
    justify-content: space-around;
}
header img{
    width: 100px;
}

/* Styles for the main area */
body{
    background-color: #9DBF9F;
    font-family: 'Lato', arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.personal_info{
    grid-column: 1/2;
    text-align: center;
    color: #1E3F20
}
.personal_info p{
    font-family: 'Montserrat', arial, sans-serif;
}
.profile{
    grid-column: 2/3;
    display: grid;
    place-items: center;
}

.profile img{
    padding-top: 50px;
    width: 40%
}
.button{
    color: #1E3F20;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}
.button-box{
    background-color: #91FF9900;
    color: #1E3F20;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 5px;
    border: 0px;
}

.button:hover{
    background-color: #1E3F20;
    color: #91FF99;
}
/* Styles for the footer */
footer{
    background-color: #91FF99; 
    color: #1E3F20;
    font-family: 'Lato', arial, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color: #1E3F20;
    text-decoration: none;
}

.site-plan:hover{
    background-color: #1E3F20;
    color: #91FF99;
    height: 30px;
    padding: 15px 30px;
    border-radius: 5px;
}

footer p{
    font-size: 1.25em;
}

footer img{
    width: 150px
}
footer .social img{
    padding-right: 50px;
    width: 100px
}

